<button type="{{ type }}" 
  form="{{ form }}" 
  class="flex items-center justify-center w-full text-sm font-bold text-white rounded bg-green shadow-solid-green-bottom h-13">
  @if(icon)
    @!component('components/icon', {
      id: icon,
      classList: 'h-4 mr-2'
    })
  @end
  {{ label }}
</button>
