<template x-if="data.{{ id }}.error" >
  <div 
    id="{{ id }}-error"
    x-text="data.{{ id }}.defaultErrorMessage || data.{{ id }}.errorMessage" 
    class="pt-1 text-xs text-red-500"></div>
</template>
