<div class="{{ classList }}" 
  x-data="{ tooltip: false }" 
  x-on:mouseover="tooltip = true" 
  x-on:mouseleave="tooltip = false">
  @!component('components/icon', {
    id: 'help-outline-grey',
    classList: 'h-6'
  })
  <div x-show="tooltip" class="absolute z-10 w-48 p-2 text-sm text-white transform translate-x-8 -translate-y-8 bg-blue-400 rounded">
    {{ text }}
  </div>
</div>