<div class="flex flex-row items-center">
  <div class="flex items-center justify-center bg-black text-white font-bold rounded-full w-5 h-5 mt-0.5 mb-0.5">{{ number }}</div>
  <div class="flex items-center pl-2 text-xs font-extrabold tracking-wide">
    {{ text }}
    @if(icon)
      @!component('components/icon', {
        id: icon,
        classList: 'h-3 ml-2'
      })
    @end
  </div>
</div>
